/* CSS Document */

img{ padding:5px; max-width:1000px; max-height:1000px; border-radius: 10px}
body{padding:0; margin:0; font-family:Verdana, Geneva, sans-serif; font-size:12px;}
a{color:#00C; text-decoration:underline}
a:hover{text-decoration:none}
a:visited{color:#00C}
