@charset "UTF-8";
	
/*  Tags Section  */
	
a{text-decoration:none;color:#00B; cursor:pointer;}
a:hover{text-decoration:underline;}

div{word-wrap:break-word;}
p{cursor:pointer;}

/*  Tags Section END */

input{ border:1px solid #CCC; }

input[type='checkbox']{cursor:pointer}
/*input[type='text']{border:1px solid #C9C9C9; border-radius:3px}
input[type='password']{border:1px solid #C9C9C9; border-radius:3px}*/
select{ padding:5px; 
		color:#5BADFF; 
		border:1px solid; 
		font-family:Arial, Helvetica, sans-serif; 
		font-size:0.75em; 
		cursor:pointer; 
		border:1px solid  #09F; 
		border-radius:3px; 
		background-color:#004060; 
		font-weight:bold
		}

img{ border:0 none; padding:0; margin:0; }

.full-width{ 
	width:100%;
	box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
			}

.typical_text{
	color:#069;
	}
	
.b{font-weight:bold;}


.qHint{ cursor:pointer; }
