@charset "UTF-8";


/* Links */
a[class='blued_href']{color:#009;}
a[class='lite_href']{font-size:11px; font-family:Arial, Helvetica, sans-serif; color:#6E6E6E;}
a[class='white_href']{color:#FFF; }
a[class='en_href']{color:inherit;}
a[class='ui_fat_href']{color:blue; font-weight:bold;}
a[class='lined_href']:hover{text-decoration:underline;}
a[class='non-underlined']{text-decoration:none;}
a[class='non-underlined']:hover{text-decoration:none;}
a[class='underlined']{text-decoration:underline;}
a[class='underlined']:hover{text-decoration:none;}
a[class='href']{ font-size:10pt; color:#06F; text-decoration:underline }
a[class='href']:hover{ color:#C00; text-decoration:none } 
a[class='user-profile-data-href']{ font-size:0.85em; text-decoration:underline  }
a[class='user-profile-data-href']:hover{ text-decoration:none; color:#09F  }
img[id='banner']{width:100%; max-width:150px; border:#000 1px groove; margin:5px auto; }
input[type="radio"]{ padding:10px; background-color:#000; }
input[class*="std"]{ padding:3px; color:#069 }


#main-login-caption{font-size:25px; font-weight:bold; color:#069; }
	
.quote{ 
border-left:1px solid #CCC;
color:#555; 
font-family:Verdana, Geneva, sans-serif;
font-size:0.8em;
padding:10px; 
margin-left:10px;
box-sizing:border-box;
}
	
	
/* Standard text box used in forms */
.qmex_former{
	font-family:Arial, Helvetica, sans-serif;
	padding:3px;
	width:250px;
	height:20px;
	color:#069;
	font-weight:bold;
	font-size:16px;
	border: #B3D9FF groove 1px;	
	}
	
.qmex_former:focus{
	border:#09F; 
	box-shadow: 0px 0px 5px 1px #069; 
	-moz-box-shadow: 0px 0px 5px 1px #069; 
	-o-box-shadow: 0px 0px 5px 1px #069;
	}
	
/* Similary with .qmex_former class, but it single */	
.qmex_former_little{
	width:150px;
	height:20px;
	color:#82C0FF;
	font-weight:bold;
	font-size:16px;
	border:#03C groove 1px;	
	padding:3px;
	}
	
/* Other class in registration steps (1,2) */

	
.regstep_subcaption{
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	padding:2px;
	}
	
.qDate{
	min-width:60px;
	height:30px;
	color:#09F;
	font-size:14px;
	font-weight:bold;
	}
	
/* --------------------- Interests (Registration Step3.php) -------------------------- */
	
.Tkeywords{
	width:100%;
	font-size:12px;
	padding:3px;
	color:#069;
	}

.qType{
	padding:10px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#039;
	}

.TImage{
width:0px;
height:0px;
border-radius:5px;
border:1px solid gray;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;	
cursor:pointer;
	}
.TImage:hover{border:1px solid #06F;}
	 
.TImageCapt{
	color:#039;
	margin:0 auto;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
	padding:5px;
	display:table;
	border:1px solid #95ADD7;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	margin-bottom:15px;
	}
	
.TImageCapt:hover{
	background-color:#0058B0;
	color:#FFF;
	}

/* -------------------------------------------------------------------------------------- */
	

/* Other class in registration steps (4) */	
.reg_result{
	width:auto;
	color:#FFF;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	}
	
	
/* Standard button of system */
.qButton{
	padding-top:4px;
	padding-bottom:4px;
	padding-left:5px;
	padding-right:5px;
	cursor:pointer;
	color:#FFF;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	
	background-color:#2481CC;
	background: linear-gradient(to bottom, #2481CC  0%, #069 90%);
	background: -moz-linear-gradient(top, #2481CC  0%, #069 90%);
	background: -o-linear-gradient(top, #2481CC  0%, #069 90%);
	background: -ms-linear-gradient(top, #2481CC  0%, #069 90%);	
	background: -webkit-linear-gradient(top, #2481CC 0%, #069 90%);
	
	border:#006AD5 solid 1px;
	border-radius:2px;
	}
	
.qButton:hover{
	border:#069 solid 1px;	
	color:#CCC;
	
	background-color:#2989D8;
	background: linear-gradient(to bottom, #039  0%, #069 90%);
	background: -moz-linear-gradient(top, #039  0%, #069 90%);
	background: -o-linear-gradient(top, #039 0%, #069 90%);
	background: -ms-linear-gradient(top, #039  0%, #069 90%);
	background: -webkit-linear-gradient(top, #039 0%, #069 90%);
	
	}
	
/* Standard grayed button of system */
.qButton_silver{
	padding-top:4px;
	padding-bottom:4px;
	padding-left:5px;
	padding-right:5px;
	cursor:pointer;
	color:#333;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	background-color:#CCC;
	border:#555 solid 1px;
	border-radius:2px;
	}

.qButton_silver:hover{
	border:black solid 1px;
	background-color:#DDD;
	}
	
/* Standard Error Messsage in system */
#ErrMsg{
	background-color:#FFE6E6;
	border:#D70000 solid 1px;
	padding:5px;
	text-align:left;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	}
	
/* Standard Success Messsage in system */
#SucMsg{
	background-color:#E1FFE1;
	border:#0C3 solid 1px;
	padding:5px;
	text-align:left;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	}
	
/* Standard Neutral Messsage in system */	
#NeutralMsg{
	font-family:Arial, Helvetica, sans-serif;
	background-color:#A7B8EB;
	border:#00F solid 1px;
	padding:10px;
	text-align:left;
	color:#000;
	}
	
.BlankProfileMsg{
	font-size:12px;
	color:#FF9;
	background:#69F;
	border-radius:0 0 5px 5px;
	padding:20px 0 20px 30px;
	border:1px dotted #069;
	}
.BlankProfileMsg a{ color:#EEE; text-decoration:underline }
.BlankProfileMsg a:hover{ color:#FFF; text-decoration:none }
	

/* Standard Search Line of system */
.QsearchBar{
	padding-top:2px;
	padding-bottom:2px;
	width:100%;
	height:25px;
	font-size:13px;
	color:#CCC;
	border:#009 solid 1px;
	border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
	}

.QsearchBar:focus{box-shadow:0 0 10px 2px #06C}

/* Standard User-Box in account */
#userdata{
	min-width:260px;
	z-index:1; 
	}

/* Standard caption of user page */
#caption{
	color:white;
	font-size:15px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	background-color:#069;
	background:url(/qmex_img/UI/grate.png) black;
	padding:4px;
	border-top:#036 solid 2px;
	}
	
/* Standard caption of system */
.MainCaption{
	font-size:14px;
	font-weight:bold;
	padding:3px;
	border-bottom:#036 1px solid;
	width:100%;
	}
	
#qUserPageHighCaption{	
background:rgba(0,102,153,0.8);
border:#03F 2px solid;
padding:10px; 
color:#FFF; 
font-size:9pt; 
margin:0px auto;
border-radius: 6px;
font-family:"Arial Black", Gadget, sans-serif;
}

#Non-Checked_Account{
	background-color:#FFC;
	padding:30px 10px 30px 10px;
	border: 2px dashed #069;
	font-size:12px;
	color:#000;	
}

#qUTarget{
	font-size:0.8em; 
	font-family:Arial, Helvetica, sans-serif; 
	background-color:#C1E0FF;
	border:1px solid transparent;
	width:100%; 
	box-sizing:border-box; 
	text-align:left; 
	padding-top:4px;
	padding-bottom:4px; 
	color:#000; 
	cursor:pointer;
	}
#qUTarget:hover{ background-color:#CEE7FF; border:1px solid #CCC }
.qUTarget_none{ color:black }
.qUTarget_exists{color:#070; font-weight:bold}

#qInfoAbout{	
box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
width:100%;
min-height:100px;
border:1px solid #069;
border-top:2px dashed #069;
font-size:12px;
color:#069;
padding:10px; 
background-color:#FFF;
word-wrap:break-word; 
border-bottom-right-radius:3px;
border-bottom-left-radius:3px;
}
	
.user-resourse-name{ font-weight:bold; font-size:0.9em; background-color:#BFDFFF; color:#069; border-bottom:1px dotted black }
.user-resourse-value{ padding:5px; color:#000 }
.cap_td1{width:20%; border-top:2px solid #069;  background-color:#007CB9; color:#FFF; padding:3px; font-weight:bold;}
#cap_td2{color:#039; padding-left:20px; width:80%; border-top:1px solid #C6E2FF; }

#Qinfo td{min-height:30px; height:30px; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
.qResources{font-size:14px;}
	
.qEdit{
	cursor:pointer;
	padding-left:3px;
	border-bottom:transparent solid 1px;
	}
	
.qEdit:hover{
	border-bottom:#006 solid 1px;
	}
	
.subline{
	width:100%;
	height:1px;
	background-color:#06C;
	border:0px;
	}
	
.user-box-item{
	float:left;  
	color:#FFF; 
	padding:5px; 
	text-align:center; 
	cursor:pointer;
	}
	
.user-box-item:hover{ background-color:#3EA0E6 }
	
	
#QuserPhoto{border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; cursor:pointer}


#q_lim_div{max-width:230px;}

#usersearch
{
	width:100%;
	border:1px dotted;
	}
	
#searchPanel{
	width:100%; 
	background-color:#069;
	border:white 1px solid;
	}
	
#ololo_faces
{
	cursor:pointer;
	}
	
#ololo_faces:hover
{
	background-color:#2492FF
	}
	
#mark{ color:#03C; font-size:10px; }

.status_item{
	height:30px;
	color:#FFF;
	cursor:pointer;
	padding:5px;
	}
	
	
.status_item:hover{
	color:#009;
    font-weight:bold;
	background-color:#FFF;
	color:#00C;
	}
	
.ui-target-item{
	width:20px;
	height:20px;
	padding:0px;
	padding-right:5px;
	}

.q_pad_continue{
	cursor:pointer;
	background-color:#069;
	color:#FFF;
	width:96%;
	text-align:center;
	padding:10px;
	}
	
.WContent{
	padding:10px;
	color:#069;
	margin:0 auto;
	}
	
.WSubContent{
	font-size:15px;
	padding-top:20px;
	}

.BigCaption{
	font-size:32px;
	color:#06F;
	border-bottom: 2px solid #06F;
	}
	
.WCaption{
	font-family:Arial, Helvetica, sans-serif;
	
	font-size:14px;
	font-weight:bold;
	color:white;
	background-color:#069;
	padding:5px;
	}
	
.-lined-WCaption{
	font-size:2.1em;
	font-weight:bold;
	color:#069;
	border-bottom:1px solid #069;
	padding:5px;
	}
	
.WUnderCaption{
	color:#069;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	}
	
#NotifyBox{
	max-width:200px;
	position:absolute;
	background:rgba(0,0,0,0.8);
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.8em;
	border-radius:5px;
	color:#CCC;
	font-weight:bold;
	padding:3px;
	display:none;
	z-index:1;
	}
	
#NotifyArrow{
	background:rgba(0,0,0,0.8);
	width:10px;
	height:10px;
	position:absolute;
	margin:-5px 0 0 3px;
	}
	
#NotifyText{
	position:relative;
	}
	
.NotifyClass{
	-webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;

	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
	}
	

.slideMenu{ position:absolute; background-color:#000; background: rgba(0,0,0,0.85); border-radius:3px; }
.slideMenuItem{ padding:5px; color:white; background-color:transparent; cursor:pointer; border-bottom:1px solid #777 }
.slideMenuItem:hover{ background-color:#09C }


.ui_official_textbox{padding:5px; color:#009}

	
.qLastRegStep{
	width:60%;
	margin:30px auto;
	font-size:20px;
	min-height:90px;
	}

.Qdiver td{
	min-height:40px;
	height:40px;
	text-align:center;
	}
	
#q_email_info{padding:5px;font-size:14px; text-align:center; color:#000;}

.Qtrifle{
	padding:15px;
	border:#069 solid 1px;
		border-radius:7px;
-moz-border-radius:7px;
-webkit-border-radius:7px;
-khtml-border-radius:7px;
text-align:left;
	}
	
.Qtrifle td{min-height:30px; height:30px;}
	
		
#line{
	border-bottom:#069 solid 1px;
	float:left;
	height:10px; 
	width:15%;
	margin-left:5px;
	margin-right:5px;
	}
	
#sub_caption{
	float:left; 
	margin:0 auto;
	font-weight:bold;
	width:180px; 
	text-align:center;
	}
	
.QmenuItem{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	padding:5px;
	border-bottom:#FFF 1px dotted;
	cursor:pointer;
	}
	
.QmenuItem:hover{
	background-color:#FFF;
	}
	
.QMenuItemHref{
	color:#FFF;
	font-size:16px;
	}
	
.QMenuItemHref:hover{
	color:#00F;
	text-decoration:none
	}