/*@font-face{
	font-family:qMex;
	src:url(/qmex_img/service/qMex.ttf);
	}*/


*{
	margin:0;
	padding:0;
	//font-size:9pt;
	//font-family:Arial, Helvetica, sans-serif;
	}

/*
::selection {background: #000; color:#FFF;}
::-moz-selection {background: #000; color:#FFF;}
::-webkit-selection {background: #000; color:#FFF;}
*/

html, body {
	width:100%;
	height:100%;
	margin:0 auto;
	//background-image:url("/qmex_img/background2.png");
	//background-image:url("/qmex_img/background2.jpg");
	background-attachment:fixed;
	background-color:#E1F0FF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	/*text-align:center;*/
	/*cursor:url("/qmex_img/service/cursor.png"),default;*/
	}
	
/* Main Block */
#qmex_site{
	width:100%;
	min-width:850px;
	min-height:700px;
	margin:0 auto;
	}

#qmex-intro{
	background: rgba(0,0,0,0.5);
	color:#999;
	text-align:center;
	font-size:12px;
	padding:10px;
	position:absolute;
	left:0;
	top:10000px;
	display:none;
	cursor:pointer;
	box-sizing:border-box;
	}
#qmex-intro:hover{ background: rgba(0,0,0,1); color:#CCC }


#designed-reg-sign{
	padding:5px 0 5px 10%;
	background-color:#D9EBFF;
	font-size:11px;
	border-bottom: 1px solid #9CF;
}


/* Head of main Block */
#qmex_head{
	min-width:270px;
	position:fixed;
	width:inherit;
	height:100%;
	margin:0 auto;
	background-color: #3E8BDC;
	background: -moz-linear-gradient(right,  #002B55 0%, #069 99%);
	background: -webkit-linear-gradient(right,  #002B55 0%, #069  99%);
	background: -o-linear-gradient(right,  #002B55 0%, #069 99%);
	background: -ms-linear-gradient(right,  #002B55 0%, #069  99%);
	background: linear-gradient(to right, #069 0%, #002B55  99%);
	-moz-box-shadow:#000 3px 3px 10px 1px;
	-webkit-box-shadow:#000 3px 3px 10px 1px;
	box-shadow:#000 3px 3px 10px 1px;
	/* background: linear-gradient(to bottom, #3570AC 0%, #18538F  50%); */
	border-bottom:2px groove #069;
	}
	
/* Table partion in head Block */
#qmex_head_table{
	min-width:850px;
	max-width:1500px;
	height:100px;
	max-height:100px;
	margin:0 auto;
	//width:100%
	}
	
#qmex_head_hider{
	background-color:#069;
	opacity:0.5; 
	text-align:center; 
	color:#09F; 
	font-weight:bold; 
	padding:1px; 
	cursor:pointer;
	}
	
/* Main Content Block */
#qmex_content_block{
	box-sizing:border-box; 
	width:75%;
	max-width:1400px;
	//border-left:#FFF solid 1px;
	//border-right:#FFF solid 1px;
	margin-top:-1px;
	margin:0 auto;
	background-color:#E1F0FF;
	}
	
/* Content */
#qcontent{
	min-height:700px;
	padding:1px;
	border-left:0px black dashed;
	border-right:0px black dashed;
}

/* qMex Footer( bottom ) */
#qmex_foot{
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:8pt; 
	padding:4px; 
	margin:0 auto; 
	text-align:center; 
	border-top:1px black solid;
	background-color:#0C3760;
	}	
#qmex_foot * {font-size:10pt;}
	
	
#qmex_foot a{color:#FFF;}
	
/* Table partion in footer Block */
#qmex_foot_table{
	margin:0 auto; 
	text-align:center;
	}
	
#qmex_foot_table td{
	padding-right:10px;
	}

.qCol{border:#F00 groove 0px; text-align:center; }	
#qLeftCol{text-align:right; margin:0 auto;}
#qRightCol{text-align:left; margin:0 auto}
