/* Registration Styles */

#reg-steps-preview{width:100%;color:white; text-align:center; cursor:pointer}
#reg-steps-preview td{padding:5px;}
.step{ border-bottom:#069 double 3px; padding:0px;}
.step-name{color:#000; font-size:24px; border-bottom:1px black solid; padding:2px}
.step-descr{ font-size:24px; color:#069 }

.qformer td{
	color:#069;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;
	height:60px;
	}
	
.reg-label{ color:#069; font-size:10px; }