
/* STD */
.UI-rounded-box{ border-radius:5px }
.UI-edit-box{width:99%; color:#56A0CD; height:70px; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:2px}
.UI-text-box{ 
	padding:5px; 
	font-weight:bold; 
	font-size:1.1em; 
	color:#06F; 
	border:2px solid #09F; 
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
	}
.UI-input{ background: linear-gradient(to bottom, #CCC 0%, #FFF 49%); border: 1px solid #BBB; }
.UI-input:focus{ box-shadow:0 0 10px 2px #06C }

/* Interests List */
.UI-item{ 
	font-size:15px; 
	border-radius:4px; 
	margin:2px; 
	padding:0px;
	background-color:#069;
	border:1px solid black; 
	cursor:pointer;
	}
.UI-item-text{
	padding:5px; 
	font-weight:bold; 
	font-size:10pt; 
	font-family:Arial, Helvetica, sans-serif;
	}
.UI-item-text-additional{
	padding:0px; 
	background-color:#005984; 
	padding-left:5px; 
	padding-right:5px; 
	color:#CCC; 
	border-top:1px solid #005984;
	}
.UI-item-rating{
	border-left:1px solid #005984; 
	padding:2px; 
	color:#CCC; 
	font-size:10pt;
	font-weight:bold; 
	min-width:15px;
	}

.UI-rait-box{
	padding:5px;
	background-color:#069;
	color:#CCC;
	font-size:1.5em;
	text-align:center;
	}
.UI-bad-rait-box{
	background-color: #FFC4C4;	
	color: #C00;
	}
.UI-good-rait-box{
	background-color: #B9FFB9;	
	color: #093;
	}
.UI-zero-rait-box{
	background-color:#CCC;	
	color: #069;
	}
	
.UI-item-rating:hover{ background-color:#005984; }

/* User Window */

.UIBackWindow{position:fixed; background:rgba(0,0,0,0.4);border-radius:5px; padding:10px}
.UIWindow{height:100%; width:inherit; height:0px; opacity:1.0; background-color:#FFF;border-radius:2px; border:#FFF solid 1px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.UIWindowCaption{background-color:#06F; color:#FFF; padding:5px; vertical-align:text-bottom; text-align:left; border-bottom:#039 1px solid;}
.UIWindowText{padding:10px; font-size:12px; color:#039;}
.UIWindowService{margin:3px auto;height:10px;}
.UIWindowClose{ cursor:pointer; height:15px; opacity:0.75; float:right }
.UIWindowClose:hover{ opacity:1 }
.UIWindowInput{ width:100%; box-sizing:border-box; font-weight:bold; border:#999 solid 1px; padding:2px; color:#069; background-color:#EEE; }
.UIWindowButtonDiv{ text-align:right; padding-right:5px; }

.UI-specialization{ padding:5px; background-color:#000; color:#CCC; font-weight:bold; font-size:8pt; text-align:center; cursor:pointer; border:3px solid #069 }

.UI-simple-menu-tab{ width:100%; text-align:center; }
.UI-simple-menu-item{ padding:10px; background-color:#6CB6FF; color:#000; font-weight:bold; cursor:pointer }
.UI-simple-menu-item:hover{ background-color:#09F; color:white; }

/*  UI DATALIST  */
.UIdatalist{ position:absolute; z-index:10; background-color:#FFF; }
.UIdatalist-item{ cursor:pointer; padding:5px; font-size:0.8em; font-weight:bold; color:#069; border-top:1px solid #DDD  }
.UIdatalist-item:hover{ background-color:#EEE }
.UIdatalist-item-active{ background-color:#EEE }


.UI-user-qmex-position{ font-weight:bold; text-decoration:overline; color:#09C; font-style:italic; }