@charset "utf-8";

/* Fast Messager */
.uiMessage{padding:0px; text-align:left}
.uiUserMessageBox{color:#069; font-weight:bold; border:#069 solid 2px; box-sizing:border-box; font-size:12px; padding:3px; width:inherit;}

/* Expanded RegText Messager */
.uiExpandedMessager{padding:5px; color:#00C; font-family:Arial, Helvetica, sans-serif; font-size:12px;}


/* Messages */
.ui-message{ background-color:#FFF; border:2px solid #CCC; border-radius:5px; margin-bottom:20px}
.ui-message-caption{ padding-top:1px; font-size:1.2em; text-transform:capitalize; border-bottom:2px solid #DDD}
.ui-message-time{ float:right; font-weight:normal; font-size:12px; color:#069}
.ui-message-content{ padding:20px; color:#069; font-size:1em;  }
.ui_act_msg{ width:15px; height:15px; padding-right:3px; }
.ui-message-tool{ cursor:pointer; padding:3px; font-size:0.8em; color:#069; text-decoration:underline }
.ui-message-tool:hover{ color:#DD6F00; text-decoration:none }
.ui-message-thanked{ background-color:#FFB; padding:3px; color:#F60; cursor:pointer; font-size:12px }
.ui-message-tools{ background-color:#EFEFEF}
.ui-message-answer{ background-color:#EEE; margin-top:1px; }
.ui-message-answer-word{ font-size:0.8em; color:#A8A8A8; border-bottom:2px solid #CCC }
.ui-message-answer-body{ padding:10px; color:#888; font-size:0.8em}

/* Dialogs */
.ui-dialog-box{ background-color:#C1E0FF; border-radius:3px; margin-bottom:30px; border: 1px solid #069; color:#006; width:80%}
.ui-dialog-box-caption{ background-color:#A6D2FF; padding:0px; font-size:1em; font-weight:bold; border-bottom: 2px solid #069 }
.ui-dialog-time-creation{ text-align:right; font-size:0.8em; font-weight:normal }
.ui-dialog-box-theme-word{ font-size:0.8em; color:#069; font-weight:bold; }
.ui-dialog-box-theme{ padding:15px; color:#333; }
.ui-dialog-theme-content{ padding:5px; border:1px dotted #069; font-size:1.3em }
.ui-dialog-new-messages{ font-size:2em; padding:5px; width:50% }
.ui-dialog-messages-count-word{ font-size:0.4em; color:#000 }
.ui-dialog-new-messages-zero{ background-color:#CCC; color:#999  }
.ui-dialog-new-messages-more{ background-color:#A8FFA8; color:#093  }
.ui-dialog-enter{  }
.ui-dialog-enter .qButton{ padding:5px}
.ui-dialog-footer{ padding:5px; background-color:#A6D2FF; color:#069; font-size:0.7em}
.ui-dialog-tool-img{ width:10px; height:10px ; padding-right:5px}
.ui-dialog-tool:hover{ cursor:pointer; color:#06F  }
.ui-dialog-time-last-activity{ font-size:0.7em; color:#000; text-align:left }

/*  UI INTERESTS */
.ui_single_i{font-size:16px}
.ui_expand_i{float:left; width:15px; height:15px; margin-right:20px; padding:2px; text-align:center;}
.ui_kw_i{display:none; border:1px #069 dotted; padding:5px;}

/* UI Note System */
.public-note{ margin-bottom:30px; border:1px solid #888; border-radius:3px }
.ui_general_notes_box{ border-left: 1px solid #CCC; border-right: 1px solid #CCC; padding:0px; width:100%; box-sizing:border-box;  }
.ui_note_box{width:100%; box-sizing:border-box; padding-top:5px; padding-bottom:5px; color:#999; font-family:Arial, Helvetica, sans-serif; font-size:12px; border: 1px solid #888}
.ui_notes_box{padding:1px; color:#FFF; overflow:hidden;}
.ui_single_note_data{
	border:#DDD 1px solid; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; 
	background-color:#FFF; 
	background: linear-gradient(to bottom, #FFF 0%, #F3F3F3 99%); 
	color:#000; 
	padding:0px;
	}
.ui_note_history{font-size:0.9em; border-left:4px double #CCC; padding:10px;}
.ui_single_note_content{padding:20px;}
.ui_single_note_caption{ background-color:#C4E1FF; padding:5px; color:#000; text-align:left; margin-bottom:5px; font-size:11px; height:15px;}
.ui_single_note_content_caption{ color:#4493BE; font-size:15px; padding:5px; border-bottom: 1px dashed #CCC }
.ui_note_theme{color:#03F; font-size:14px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
.ui_hub_date{ float:right; }
.ui_note_conception{color:#006; font-size: 11px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-decoration:overline}
.ui_note_owner{font-family:Arial, Helvetica, sans-serif; font-size:10px}
.ui_note_sender{font-size:12px; font-family:Arial, Helvetica, sans-serif; font-weight:bold}
.ui_note_tools{
	border-top-left-radius:3px; 
	border-top-right-radius:3px;
	border-bottom:1px solid #CCC;
	}
.ui_note_tools_no_owner{
	border-top-left-radius:3px; 
	border-top-right-radius:3px;
	border-bottom:1px solid #CCC;
	}
.ui-note-substance{
background-image: url(/qmex_img/UI/hubster/grate.png);
/*background-size:cover;*/
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
color:#000; 
padding:15px; 
padding-left:15px; 
font-size:14px; 
cursor:pointer;
font-weight:bold;
}
.ui_note_auth_info{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000}
.ui_note_tool{width:15px; height:15px; padding:3px; cursor:pointer; border-right:0px #006699 solid;}
.ui_note_tool:hover{background-color:#4694BF;}
#ui_note_box_char_count{color:#008200; padding:0px; float:right; font-size:12px; font-family:Arial, Helvetica, sans-serif}
.ui_note_full{text-align:center; font-size:1.5em}
.ui_single_note_foot{text-align:right; margin:0 auto;}
.ui_single_note_comments{width:100%; margin:5px 0 1px 0; background-color:#EEE}
.comment-word-line{color:#069; text-align:center; font-size:10px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; cursor:pointer; 
background-color:#D4D4D4; padding:7px}
.comment-word-line:hover{color:#069; background-color:#CCC;}
.comment-word:hover{text-decoration:underline;}
.comment-send-word{color:#00C; font-size:11px; font-family:Arial, Helvetica, sans-serif; cursor:pointer;}
.comment-send-word:hover{text-decoration:underline;}
.note-comments{ width:100%; box-sizing:border-box;}
.note-comments-box{padding:10px}
.ui_note_rait_box{ padding:5px; font-family: tahoma, arial, verdana, sans-serif, Lucida Sans; font-size:13px; color:#06F }
.ui_note_go_inside_icon{ width:40px; height:40px; background:url(/qmex_img/UI/hubster/go-inside.png); background-size:cover; margin:0 auto }
.ui_note_go_inside_icon:hover{ background:url(/qmex_img/UI/hubster/go-inside-active.png); background-size:cover; }

/* UI SWOP */
.ui_swop{ padding:0px; background-color:#036; font-size:8pt; border:2px solid black; margin-bottom:10px }
.ui_swop_caption{ font-size:10pt; color:#9BDEFF; font-weight:bold; padding:5px; border-bottom:1px dotted #FFF }
.ui-swop-spec{ color:#CCC; }
.ui_swop_definition{ padding:10px 3px 10px 5px; color:#CCF; font-weight:bold; font-size:11px; }
.ui_swop_footer{ padding:5px; border-top:1px dotted #FFF; font-style:italic; color:#FFF; }
.ui_swop-need{ background-color:#069}
.ui_swop-tools{ float:right; }
.ui_swop-tool{ opacity:0.85; cursor:pointer; }
.ui_swop-tool:hover{ opacity:1 }
.ui_swop_core{ font-size:0.9em; color:#B9FFB9; padding-left:5px}


/* UI Developments */
.ui-developments-main-box{ padding-bottom:10px; cursor:pointer }
.ui-developments-kind{ font-weight:normal; font-size:0.8em; color:#EEE; }
.ui-development-caption{ padding:10px; background:rgba(0,0,0,0.75); position:relative; color:white; font-size:14px; font-weight:bold }
.ui-development-info{ background-color:#69C; border:1px solid #069; padding:10px; color:#000; }
.ui-developments-param{ font-size:0.8em; }
.ui-developments-theme{ font-size:13px; font-weight:bold; padding-top:0px; color:#035; }
.ui-developments-keys{ font-size:0.7em; color:#035 }
.ui_development_go_inside_icon{ 
	width:40px; height:40px; background:url(/qmex_img/UI/actuals/go-inside.png); background-size:cover; margin:0 auto }
.ui_development_go_inside_icon:hover{ 
	background:url(/qmex_img/UI/actuals/go-inside-active.png); background-size:cover; }
/*
.developments-main-box{ padding:5px; margin-bottom:50px; }
.developments-caption{ padding:10px; font-size:0.9em; font-weight:bold; background-color:#06F; color:#FFF; }
.developments-theme{ font-size:1em; font-weight:bold; padding-top:0px; color:#FFF;  }
.developments-kind{ font-weight:normal; font-size:0.8em; color:#EEE; }
.developments-keys{ font-size:0.7em; color:#FFF }
.developments-aspect{ font-size:0.7em }
.developments-param{ font-size:0.8em; }
.developments-comein{ 
	padding:10px; background-color:#000; opacity:0.5; text-align:center; font-size:1.0em; font-weight:bold; color:#06F; cursor:pointer }
.ui_development_go_inside_icon{ 
	width:40px; height:40px; background:url(/qmex_img/UI/actuals/go-inside.png); background-size:cover; margin:0 auto }
.ui_development_go_inside_icon:hover{ 
	background:url(/qmex_img/UI/actuals/go-inside-active.png); background-size:cover; }
*/

/* UI Achievements */
.ui-achievement-box{ background-color:#069; color:white; border: 2px inset #0F0 }
.ui-achievement-descr{ padding:5px; font-size:11px }
.ui-achievement-line{ padding:2px; font-size:12px; text-align:center; font-weight:bold; background-color:#005B8C; color:#0AF }
.ui-achievement-bonus{ color:#00EE00; background-color:#069; text-align:center; font-size:20px; padding:3px }
.ui-achievement-box-profile{ 
width:40%; 
min-width:230px;
margin:10px;
background-color:#FFF; 
border-radius: 500px;
background: -moz-linear-gradient(bottom, #FFF 0%, #CCC 99%);
background: -webkit-linear-gradient(bottom, #FFF 0%, #CCC 99%);
background: -o-linear-gradient(bottom, #FFF 0%, #CCC 99%);
background: -ms-linear-gradient(bottom, #FFF 0%, #CCC 99%);
background: linear-gradient(to bottom, #69C 0%, #9AC4DC 99%);
color:#000;
border: 2px outset #069;
cursor:pointer;
}
.ui-achievement-box-profile:hover{ background: #75AED0 }
.ui-achievement-descr-profile{ padding:5px; font-size:11px }
.ui-achievement-line-profile{ 
padding:3px; font-size:12px; text-align:center; background-color:#E6F2FF;
font-weight:bold; border:1px solid #000; color:#069 }
.ui-achievement-bonus-profile{ color:#017C2F; text-align:center; padding:3px; }


/* UI Private Environment */
.ui_env_people{ padding:5px; border-bottom: 1px dashed #9CF }
.ui_env_people:hover{ background-color:#CAE3FF }
.ui_env_login{ font-size:14px; font-weight:bold; color:#069 }
.ui_env_rait_good{ padding:0 5px 0 5px; border-left:1px solid #063; border-right:1px solid #063; color:#063; font-weight:bold; }
.ui_env_rait_bad{ padding:0 5px 0 5px; border-left:1px solid #900; border-right:1px solid #900; color:#C00; font-weight:bold; }
.ui_env_name{ font-size:11px; color:#06F }
.ui_env_spec{ font-size:11px; color:#06F; font-weight:bold }
.ui_env_photo{ margin-right:5px; border:2px solid #069 }


/* UI Conferences */
.ui_conference{ background-color:transparent; padding:5px; font-family:Arial, Helvetica, sans-serif; margin-bottom:10px; }
.ui_conference[class*='private']{ background-color:#A8D1FF; }
.ui_conference[class*='closed']{ background-color:#FFE1E1; }
.ui_conference_caption{ color:#09F; font-size:1.5em; border-bottom:4px solid #09F; }
/*.ui_conference_caption[class*='private']{ color:#999; border-bottom: 4px solid #CCC  }
.ui_conference_caption[class*='private'] .ui_conference_number{ color:#777 }
.ui_conference_caption[class*='closed']{ color:#C00; border-bottom: 4px solid #CCC  }
.ui_conference_caption[class*='closed'] .ui_conference_number{ color:#900 }*/
.ui_conference_vector{ text-decoration:underline; font-size:0.5em; font-weight:bold; color:#06F;  }
.ui_conference_description{ color:#069; padding:7px; font-size:0.8em; }
.ui_conference_number{ color:#069 }
.ui_conference_sub{ font-size:8pt; font-style: italic; color:#069 }
.ui_conference_time{ font-size:8pt }
.info-caption{ background-color:#BDF }
/*.info-caption[class*='private']{ background-color:#EEE }
.info-caption[class*='closed']{ background-color:#FFE1E1 }*/
.ui_conference_closed{ font-size:11px; color:#C30 }

/* UI Conferences Opinion */
.ui_conference_opinion{ background-color:#FFF; padding:10px; margin-bottom:2px; border:1px solid #EEE; border-top:1px solid #06F; border-bottom:1px solid #06F }
.ui_conference_opinion[class*='creator-self']{ background-color:#FFFFD7; /*border:0px solid #004F9D*/ }
.ui_conference_header{ border-bottom:1px solid #DDD; }
.ui_conference_user a{ color:#06C; text-decoration:underline; font-weight:bold; font-size:12px}
.ui_conference_user a:hover{ text-decoration:none; }
.ui_conference_datetime{ font-size:12px; color:#09C; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif }
.ui_conference_opinion_tool{ cursor:pointer; padding:5px; background-color:#EEE; height:15px }
.ui_conference_opinion_tool:hover{ background-color:#B3D9FF }
.ui_conference_opinion_raiting{ font-weight:bold; color:#000; font-size:0.9em; padding:5px}

/* UI Smiles */
#ui_smiles_box{width:100%; padding:4px; margin-bottom:20px;}
#ui_smile_tools{ background-color:#000; color:#FFF;}
#ui_simple_smiles{ background-color:#069; height:85px; overflow:hidden}
.ui_single_simple_smile{float:left; cursor:pointer;}
.ui_single_simple_smile:hover{background-color:#FFF}
#ui_simple_smiles_table{border:#069 dotted 1px; min-width:100%; text-align:center;}

/* Others UI Elements */
.ui_upper_part_menu_item{ 
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#EEE; border-radius:1px; font-size:14px; padding:7px;}
.ui_upper_part_menu_item:hover{background-color:#27A1C5;}

.ui_my_messages{text-align:left; margin:0 auto; width:100%;}
#ui_messages_notification{
	width:270px; height:400px; border:#06F 3px dotted; position:fixed; top:100%; opacity:0.0;
	background-color:#FFF; z-index:10; color:#009; text-align:left; padding:5px; cursor:pointer; font-size:12px}
#ui_messages_notification:hover{ border:#06F 3px solid;}
.ui_typed_btn{font-size:11px; padding:2px}
.ui_typed_btn:hover{border:1px solid white}
.ui_single_people{float:left; padding-top:0px; font-size:12px; text-align:center; cursor:pointer;}
.ui-friend-card{border:1px solid #CCC;}


/* SETTINGS in Controllers/settings.php */
.ui_setter_caption{padding-bottom:3px}
.setter_field{padding:4px; color:#039; border:#039 1px solid}
.setter_field:focus{border:#FFF 1px solid}
.sett_notify{display:none;}


/* --------- Comments Styles --------- */
.qm-comment{padding:4px; color:#009; font-family:Arial, Helvetica, sans-serif;}
.qm-comment-caption{border-bottom:1px solid #999; font-weight:bold; font-size:12px}
.qm-comment-date{float:right; font-size:10px}
.qm-comment-text{padding:5px; font-size:11px;}
.qm-comment-img{width:10px; height:10px; opacity:0.7}
.comment-abstraction{opacity:0}
.qm-level{float:left; margin-top:20px;}


/* Events Elements */
.ui-event-item{border-radius:3px; border:0px solid #CCC; color:#069; margin-top:0px; background-color:#FFF; 
font-family:Arial, Helvetica, sans-serif;}
.ui-event-item a{ color:#06F; font-weight:bold; text-decoration:underline }
.ui-event-item a:hover{ color:#09F ;text-decoration:none; }
.ui-event-caption{ background-color:#EEE; border-bottom:0px dashed #069; color:#FFF; padding:5px; text-align:center; font-weight:bold; font-size:15px;}
.ui-event-footer{ border-top:0px #069 dotted; color:#AAA; padding:5px; font-size:11px;}
.ui-event-text{color:#069; padding:20px; font-size:13px}
.ui-event-rating{color:white; padding:2px; font-size:12px; border-radius:50px; cursor:pointer}
.ui-event-check-img{cursor:pointer;}

/* Rating Elements */
.ui-rating-events-box{ padding:10px; }
.ui-voite-card{width:100%; color:black; padding:5px; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin-top:20px}
.ui-voite-card-caption{padding:3px; border-bottom:1px #009 solid;}
.ui-voite-card-description{padding:5px;}
.ui-voite-select-interest{background-color:#555; color:white; padding:2px; font-weight:bold; text-align:center;}


/* Comments */
.ui-comment-base-roll{padding:5px; background:#EBEBEB; font-size:10px; font-family:Arial, Helvetica, sans-serif; color:black; text-decoration:none; cursor:pointer; }
.ui-comment-base-roll:hover{text-decoration:underline;}
.ui-comment-base{border-bottom:2px dashed black;}
.base-roll-down{ color:black; cursor:pointer;}
.base-roll-down:hover{text-decoration:underline;}

/*  Teams UI Elements *//*
.ui-team-link:hover{text-decoration:none;}
.ui-team-box{padding:10px; width:100%; border:0px solid black; margin-top:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.ui-team-caption{background-color:#06C; color:#FFF; padding:5px; font-size:16px; font-weight:bold; border:1px dashed white}
.ui-team-caption:hover{border:1px dashed #CCC;}
.ui-team-motto{ font-size:12px; padding:5px; font-style:italic}
.ui-team-logo{border:0px none; border-radius:5px}
.ui-team-description{font-size:12px;}
.ui-team-sphere{font-weight:bold; font-size:14px; text-decoration:overline;}
.ui-team-info-table{width:100%;}
.ui-team-go{text-align:right;}

.ui-team{background:rgba(0,0,0,0.05); margin-top:-10px; margin-bottom:-10px; min-height:700px}
*/

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */


/*  Quer UI Elements *//*
.ui-quer-query{ padding:0px; color:#03C; font-family:Arial, Helvetica, sans-serif; padding:1px; margin-top:20px; cursor:pointer;}
.ui-quer-caption{background-color:#FFF; color:#06F; padding:5px; border-bottom:1px dashed black;}
.ui-quer-caption-top{font-size:20px}
.ui-quer-caption-lower{font-size:12px;}
.ui-quer-dt{background-color:#06C; color:white; font-size:10px; padding:2px}
.ui-quer-content{padding:15px; font-size:12px; background:white; color:#000;}

.quer-comment-box{padding:15px; background:none; margin-top:20px}
.quer-new-comment{width:95%; padding:10px; background-color:#FFF; border:1px #3E8BDC solid; color:#069; }

#quer-comments{margin-top:50px; margin-bottom:150px; }
.ui-quer-comment{padding:7px; font-family:Arial, Helvetica, sans-serif; font-size:12px;color:#03C; margin-bottom:20px;}
.ui-quer-comment-caption{border-bottom:1px #03C dashed;  padding:5px;}
.ui-quer-comment-date{ padding:5px; border-right:1px dashed #03C;border-top:1px dashed #03C; border-left:1px dashed #03C}
.ui-quer-comment-text{padding:10px; }
.quer-comment-right-part{width:30%; text-align:center; vertical-align:top; padding:10px}
.ui-quer-theme{font-size:16px; color:#06C; font-weight:bold;}
.ui-quer-keys{font-size:12px; color:#999;}

.qButton_red{
	padding:2px;
	cursor:pointer;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	background-color:#FFF;
	border:transparent solid 1px;
	border-radius:5px;
	}
.qButton_red:hover{
	border:#C00 solid 1px;
	}
	
.ui-quer-tools{
	background-color:#FFF;
	border-radius:3px;
	border:1px solid #009;
	padding:0px;
	margin-bottom:5px;
	}*/